/* Universal Styles */

#back {
  background-color: black;
}

/* Banner */

#main {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#body {
  background-color: white;
  text-align: center;
}

#toplinks {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

#backgroundpic {
  background-image: url(https://scontent-ort2-1.cdninstagram.com/t51.2885-15/e35/12256832_930080583706207_1162487888_n.jpg);
  background-size: cover;
  background-position: center;
}

#designed {
  font-family: cinzel;
  font-size: 23px;
  color: black;
  font-weight: bold;
  padding:10px;
  text-align: left;
  margin-left: 20px;
}

#contact {
  text-align: center;
}

#contact a {
  font-size: 30px;
  color: black;
}

.contact-info a {
  font-size: 15px;
}

/* Jumbotron */

.see-more {
  font-family: cinzel;
  color: black;
  font-weight: bolder;
  font-size: 30px;
}
